.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 300px;
  height: 200px;

  background: var(--text-color);
  padding: 16px;
  border-radius: 5px;
  isolation: isolate;
  color: #000;

  &.is-hidden {
    display: 0;
  }
}
