@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-soft: var(--primary-soft);
  --color-primary-medium: var(--primary-medium); /* base */
  --color-primary-strong: var(--primary-strong);
  --color-primary-intense: var(--primary-intense);

  --color-secondary-subtle: var(--secondary-subtle);
  --color-secondary-soft: var(--secondary-soft);
  --color-secondary-medium: var(--secondary-medium); /* base */
  --color-secondary-strong: var(--secondary-strong);
  --color-secondary-intense: var(--secondary-intense);

  --color-surface-base: var(--surface-base);
  --color-surface-subtle: var(--surface-subtle);
  --color-surface-soft: var(--surface-soft);
  --color-surface-medium: var(--surface-medium);
  --color-surface-strong: var(--surface-strong);
  --color-surface-intense: var(--surface-intense);
  --color-surface-deep: var(--surface-deep);

  --color-background: var(--bg-color);
  --color-backdrop: var(--backdrop-color);

  --color-copy-subtle: var(--copy-color-subtle);
  --color-copy-soft: var(--copy-color-soft);
  --color-copy: var(--copy-color);
  --color-copy-inverted: var(--copy-color-inverted);

  /* Sizes */
  --border-width-1: 1px;
  --radius-4xl: 2rem;

  --height-toolbox: var(--toolbox-width);

  --max-height-full-screen: 100vh;

  --container-full-screen: 100vw;
  --container-toolbox-wrapper: calc(
    var(--text-max-width) + (var(--toolbox-width) * 2) + 10rem
  );

  --width-toolbox: var(--toolbox-width);

  /* Text */
  --text-book-fs: var(--book-font-size);

  /* Effetcs */
  --shadow-word: 0 0 0 4px var(--surface-light);

  --transition-duration-2000: 2000ms;

  --ease-smooth: cubic-bezier(0, 1, 0, 1);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--surface-medium, currentColor);
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  :root {
    --text-max-width: 60ch;
    --toolbox-width: 37px;
    --book-font-size: 1.25rem;

    --bg-color: var(--surface-subtle);
  }

  html[data-color-mode="light"] {
    --primary-subtle: #fceed8;
    --primary-soft: #eea460;
    --primary-medium: #e77b28; /* base */
    --primary-strong: #d8631e;
    --primary-intense: #b34b1b;

    --secondary-subtle: #cde7cb;
    --secondary-soft: #8ec689;
    --secondary-medium: #77b672; /* base */
    --secondary-strong: #417d3c;
    --secondary-intense: #366332;

    --surface-base: #fff;
    --surface-subtle: #f2f1eb;
    --surface-soft: #e7e6e1;
    --surface-medium: #dddcd7;
    --surface-strong: #cac9c4;
    --surface-intense: #bebcb8;
    --surface-deep: #483e2b;

    --copy-color-subtle: #6a6254;
    --copy-color-soft: #59503f;
    --copy-color: #483e2b;
    --copy-color-inverted: var(--surface-base);

    --backdrop-color: var(--surface-deep);
  }

  html[data-color-mode="dark"] {
    --primary-subtle: #674188;
    --primary-soft: #905ebf;
    --primary-medium: #a67bd1; /* base */
    --primary-strong: #bfa0e0;
    --primary-intense: #e9dff5;

    --secondary-subtle: #305355;
    --secondary-soft: #4a8587;
    --secondary-medium: #8bbdbc; /* base */
    --secondary-strong: #b7d8d7;
    --secondary-intense: #dbecea;

    --surface-base: #383d48;
    --surface-subtle: #282c35;
    --surface-soft: #383d48;
    --surface-medium: #4d5362;
    --surface-strong: #57617a;
    --surface-intense: #646f8d;
    --surface-deep: #d7dceb;

    --copy-color-subtle: #a3aabf;
    --copy-color-soft: #bdc2d1;
    --copy-color: #d7dceb;
    --copy-color-inverted: var(--surface-base);

    --backdrop-color: var(--surface-subtle);
  }

  html[data-font-size="sm"] {
    --book-font-size: 1rem;
  }

  html[data-font-size="md"] {
    --book-font-size: 1.25rem;
  }

  html[data-font-size="lg"] {
    --book-font-size: 1.5rem;
  }
}
