@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-max-width: 60ch;
  --toolbox-width: 37px;
  --book-font-size: 1.25rem;
}

html[data-color-mode="light"] {
  --bg-color: 255, 243, 217;
  --copy-color: 72, 62, 43;

  --surface-light: 255, 255, 255;
  --backdrop-color: 149, 144, 125;
}

html[data-color-mode="dark"] {
  --bg-color: 40, 44, 53;
  --copy-color: 215, 220, 235;

  --surface-light: 54, 63, 85;
  --backdrop-color: 26, 34, 45;
}

html[data-font-size="sm"] {
  --book-font-size: 1rem;
}

html[data-font-size="md"] {
  --book-font-size: 1.25rem;
}

html[data-font-size="lg"] {
  --book-font-size: 1.5rem;
}
