@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-max-width: 60ch;
  --toolbox-width: 37px;
  --book-font-size: 1.25rem;
}

html[data-color-mode="light"] {
  --bg-color: #f2f1eb;
  --copy-color: #483E2B;
  --accent-primary-color: #EEA460;
  --accent-secondary-color: #8ec689;

  --surface-light: #fff;
  --surface-medium: #E5E7EB;
  --backdrop-color: #483E2B;
}

html[data-color-mode="dark"] {
  --bg-color: #282C35;
  --copy-color: #D7DCEB;
  --accent-primary-color: #8250B0;
  --accent-secondary-color: #4A8587;

  --surface-light: #363F55;
  --surface-medium: #2C3345;
  --backdrop-color: #1A222D;
}

html[data-font-size="sm"] {
  --book-font-size: 1rem;
}

html[data-font-size="md"] {
  --book-font-size: 1.25rem;
}

html[data-font-size="lg"] {
  --book-font-size: 1.5rem;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
