.word {
  &:hover,
  &.is-active {
    background: var(--surface-light);
    box-shadow: 0 0 0 4px var(--surface-light);
  }

  &.is-closing {
    background: transparent;
    box-shadow: unset;
    z-index: unset;
  }
}
