$bg-padding: 4px;

.word {
  position: relative;
  display: inline;

  &::after {
    content: "";
    position: absolute;
    inset: -$bg-padding;
    width: calc(100% + (#{$bg-padding} * 2));
    height: calc(100% + #{$bg-padding} * 2);
    background: var(--surface-light);
    border-radius: 3px;
    opacity: 0;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
    }
  }

  &.is-active {
    z-index: 10;

    &::after {
      opacity: 1;
    }
  }

  &.is-closing {
    &::after {
      opacity: 0;
    }
    z-index: unset;
  }
}
