.word {
  position: relative;
  display: inline;
  border-radius: 3px;

  &:hover {
    background: var(--surface-light);
    cursor: pointer;
  }

  &.is-active {
    background: var(--text-color);
    color: var(--bg-color);
    z-index: 10;
  }

  &.is-closing {
    background: var(--bg-color);
    color: var(--text-color);
    z-index: unset;
  }
}
